<div class="col-sm-4">
    <div class="card text-center" ng-class="{
                'card-danger': is('error'),
                'card-success': is('completed'),
                'card-warning': is('grepping')
            }">
        <div class="card-header">
            <h4><span class="label label-default">{{ task.countdown | seconder }}</span></h4>
        </div>
        <div class="card-block">
            <h4>{{ ::task.title }}</h4>

            <p class="card-text">
                <a ng-href="{{ ::task.url }}">{{ ::task.url }}</a>
            </p>
            <code>{{ ::task.phrase }}</code>

            <hr/>

            <a class="btn btn-warning"
                    ng-click="pause()"
                    ng-show="is('started')"
                    >Pause</a>

            <a class="btn btn-primary"
                    ng-click="start()"
                    ng-show="is('paused') || is('completed') || is('error')"
                    >Start</a>

            <a class="btn btn-info"
                    ng-click="edit()"
                    >Edit</a>

            <a class="btn btn-danger"
                    ng-click="remove()"
                    >Remove</a>

            <a class="btn btn-secondary"
                    ng-click="check()"
                    >Check now</a>
        </div>
    </div>
</div>
